<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GAME TEBAK ANGKA 1 - 5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <b>KESEMPATAN : </b> {{life}}
  {{status}}
  {{angkarandom}}
  <ion-item>
    <ion-label><b>Masukan Angka : </b></ion-label>
    <ion-input placeholder="0" type="number" [(ngModel)]="tebakan"></ion-input>
  </ion-item>
  <ion-button (click)="tebak()" *ngIf="life!=0">
    <ion-icon slot="start" name="star"></ion-icon>
    TEBAK
  </ion-button>
  
  <ion-button (click)="cobalagi()"  *ngIf="life == 0">
    <ion-icon slot="start" name="refresh"></ion-icon>
    COBA LAGI
  </ion-button>
  <b>{{hasil}}</b>

  <ion-item *ngIf="status==MENANG">
    <ion-img [src]="isiFoto.webviewPath"></ion-img>
  </ion-item>
</ion-content>
